﻿@model IEnumerable<SanaCommerce.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Product List</h2>

<p>
    <a href="@Url.Action("Create", "Products")" class="btn btn-success ">
        Create New
        <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i>
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Products", new { id = item.ProductId })" class="btn btn-success ">
                Edit
                <i class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></i>
            </a>            
            |            
            <a href="@Url.Action("Details", "Products", new { id = item.ProductId })" class="btn btn-info ">
                Details
                <i class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></i>
            </a>
            |
           <a href="@Url.Action("Delete", "Products", new { id = item.ProductId })" class="btn btn-danger">
                Delete
                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
}

</table>
